<html>

    <head>

    </head>

    <body>
       
            <input id="name" name="user" value=""/>
            <input id="pass" name="pass" type="password" value=""/>
            <button id="button" type="submit">Enviar</button>
       
    </body>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var button = document.getElementById('button');
        var username = document.getElementById('name');
        var pass = document.getElementById('pass');

        button.onclick = async () => {
            const resp = await singIn();
            console.log('resp', resp.data.token);
        }

        async function singIn() {
            try {
                const resp = await axios.post('/sign-in', {
                    user: username.value,
                    pass: pass.value
                }, {
                    headers: {
                        'Content-Type': 'application/json',
                    }
                });
                return resp;
            } catch(e) {
                console.log('e', e.message);
                return e;
            }
        }
    </script>
</html>